// * {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// }

// body {
// 	overflow-x: hidden;
// 	overflow-y: scroll;
// 	font-family: "Armata", sans-serif;
// 	line-height: 1.3;
// 	color: #373737;
// }

// .wraper {
	
// 	min-width: 1920px;
// 	margin: 0 auto;
// }

// h2 {
// 	font-weight: 600;
// 	text-align: center;
// 	letter-spacing: 1px;
// 	word-spacing: 5px;
// 	color: blue;
// }

// .wrapper_middle {
// 	width: 100%;
	// font-size: 0;
	// display: flex;
	// justify-content: center;
	// align-items: center;
// }

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

// .wrapper > * {
// 	padding: 10px;
// 	flex: 1 100%;
// }

