.aside {
	// height: 300px;
	background-color: #03a66a;
	flex: 1 auto;
	// display: inline-block;
	// position: absolute;
	// left: -200px;
	width: 200px;
	// font-size: 0.9rem;
	// transition: transform 0.3s;
}

// .all_img {
// 	background: url("../img/300px_1200px.png") top left repeat-y;
// }
