// !!! block_main_About_company_and_map - О компании и карта РФ
.about_company {
	position: relative;
	display: flex;
	// flex-flow: row wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 1624px;
	height: 670.87px;
	gap: 29px;
	margin-left: 254px;
	margin-right: auto;
	.company ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 120px 0px 0px;
		gap: 40px;
		position: absolute;
		width: 572px;
		height: 655px;
		h4 {
			margin-top: 20px;
			width: 572px;
			height: 144px;
			font-family: "Inter", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 34px;
			line-height: 140%;
			color: #384255;
		}
		p {
			margin-top: 20px;
			width: 572px;
			height: 216px;
			font-size: 18px;
			line-height: 150%;
			color: #384255;
		}
		// btn_about_company - Подробнее о компании
		.btn_about_company {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 12px 20px 13px;
			gap: 10px;
			width: 215px;
			height: 42px;
			border: 1px solid #f53b49;
			border-radius: 4px;
			/* txt / button */
			font-family: "Inter", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			color: #f53b49;
		}
	}
}

//!!! map - карта с городами РФ
.map ul {
	position: relative;
	width: 1023px;
	height: 650px;
	// img с картой РФ -
	margin-right: 60px;
	// подложка карты с поиощью "opacity: 0.7" на img - для точного позиционирования городов
	background-image: url("../img/main/main_about_company/map_city.png");
	// box-shadow: 0 5px 7px rgba(0,0,0,0.2);
	.Saint-Petersburg {
		position: absolute;
		top: 319px;
		left: 109px;
	}
	.Yaroslavl {
		position: absolute;
		top: 348px;
		left: 161px;
	}
	.Moscow {
		position: absolute;
		top: 365px;
		left: 144px;
	}
	.Nizhny_Novgorod {
		position: absolute;
		top: 364px;
		left: 227px;
	}
	.Volzhsk {
		position: absolute;
		top: 383px;
		left: 199px;
	}
	.Permian {
		position: absolute;
		top: 401px;
		left: 251px;
	}
	.Ekaterinburg {
		position: absolute;
		top: 387px;
		left: 299px;
	}
	.Tyumen {
		position: absolute;
		top: 404px;
		left: 340px;
	}
	.Omsk {
		position: absolute;
		top: 442px;
		left: 374px;
	}
	.Novosibirsk {
		position: absolute;
		top: 432px;
		left: 458px;
	}
	.Krasnoyarsk {
		position: absolute;
		top: 387px;
		left: 504px;
	}
	.Khabarovsk {
		position: absolute;
		top: 546px;
		left: 800px;
	}
	.Vladivostok {
		position: absolute;
		top: 590px;
		left: 792px;
	}
	.Rostov {
		position: absolute;
		top: 451px;
		left: 150px;
	}
	.Volgograd {
		position: absolute;
		top: 461px;
		left: 187px;
	}
	.Simferopol {
		position: absolute;
		top: 499px;
		left: 103px;
	}
	.Krasnodar {
		position: absolute;
		top: 499px;
		left: 142px;
	}
	.Stavropol {
		position: absolute;
		top: 519px;
		left: 174px;
	}
	.Essentuki {
		position: absolute;
		top: 523px;
		left: 152px;
	}
	img.city {
		width: 150px;
		height: 130px;
		padding: 5px;
	}
}

// Анимация для красной точки на карте, которая будет при наведении мерцать
.span {
	display: block;
	position: relative;
	margin: 30px auto;
	width: 10px;
	height: 10px;
	background: #f53b49;
	border-radius: 10px;
	cursor: pointer;
}
.span:hover::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: #f53b49;
	animation: animate 1.5s infinite normal ease-out;
}
@keyframes animate {
	from {
		transform: scale(0);
		opacity: 0.5;
	}
	to {
		transform: scale(2);
		opacity: 0;
	}
}

.tooltip {
	position: relative;
	display: block;
	border-bottom: 1px dotted rgb(6, 230, 103);
	/* Если вам нужны точки под наводимым текстом */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	font-size: 14px;
	width: 160px;
	height: 160px;
	background-color: rgba(130, 127, 127, 0.8);
	color: #fff;
	text-align: center;
	padding: 6px 0 0 0;
	border-radius: 6px;
	delay: 550;
	/* Расположить текст всплывающей подсказки - относительно объекта*/
	position: absolute;
	left: -75px;
	bottom: 15px;
	z-index: 1;
}

/* Показывать текст всплывающей подсказки при наведении курсора на контейнер всплывающей подсказки */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

// добавление стрелки в нижнюю часть подсказки выплывающего окна
.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	// придаёт остый уголок внизу всплывающей подсказки
	top: 100%;
	left: 50%;

	/* В нижней части всплывающей подсказки - цвет*/
	margin-left: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: rgba(130, 127, 127, 0.8) transparent transparent transparent;
}
